:root {
    --text-color1: #3A3335;
    --text-color2: #fafafa;
    --text-color3: #C6D8D3;
    --background-color1: #3A3335;
    --background-color2: #D81E5B;
    --text-font: "Rubik", sans-serif;
    --headings-text: "Ubuntu", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
}

.mobile-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 2px;
    height: 50px;
}

.show-border .mobile-header {
    border-bottom: 1px solid var(--background-color1);
    padding-bottom: 5px;
}

.mobile-header img {
    width: 16px;
    height: 16px;
    border: 3px solid var(--text-color3);
    align-self: center;
    margin-left: 5px;
}

.mobile-header span {
    align-self: center;
    font-family: var(--headings-text);
}

.mobile-header button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2.6rem;
    position: absolute;
    right: 8px;
    padding: 1px;
    top: 1px;
}

#ham-btn::before {
    content: "\00D7";
}

#ham-btn.show::before {
    content: "\2630";
}

/* ************ navigation bar ************* */

.navigation.hide {
    display: none;
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    border: 1px solid var(--primary-text);
}

.navigation li {
    background: var(--background-color1);
    width: 100%;
    border: 1px solid var(--text-color3);
}

.navigation a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: 44px;
    align-items: center;
    color: var(--text-color3);
    font-size: 1.2rem;
    font-family: var(--headings-text);
    font-weight: 500;
}

.navigation a:hover {
    background-color: var(--background-color2);
    color: var(--text-color2);
}

.navigation .current {
    border-left: 10px solid var(--text-color3);
}

/* ************* main section styling ********* */

main h1 {
    font-family: var(--headings-text);
    padding: 0;
    margin-top: 8px;
    margin-left: 8px;
}

main picture img {
    border: 5px solid var(--background-color1);
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.grid-list {
    background-color: var(--background-color1);
    padding: 15px;
    width: 93%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.grid-list button {
    padding: 10px;
    width: 50%;
    background-color: var(--background-color2);
    color: #fafafa;
    font-weight: 800;
    font-family: var(--headings-text);
    font-size: 1.2rem;
}

/* ************** bussiness cards styling ********** */

/* grid view */

.directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 10px;
    padding: 0;
    margin: 0;
    place-items: center;
}

.directory section {
    display: grid;
    place-items: center;
    background-color: var(--text-color3);
    width: 93%;
    border: 3px solid var(--background-color1);
    padding-bottom: 10px;
}

.directory h2 {
    font-family: var(--headings-text);
    padding: 10px;
}

.directory img {
    border: 2px solid var(--text-color1);
    width: 170px;
    height: auto;
}

.directory span {
    padding-top: 5px;
    font-weight: 500;
}

.directory address {
    padding-top: 5px;
    text-align: center;
    padding-bottom: 10px;
}

.directory section a {
    padding: 10px;
}

.directory section p {
    text-align: center;
    padding: 10px;
}

/* list view */
.list {
    display: flex;
    flex-wrap: wrap;
    width: 93%;
    margin: 0 auto;
}

.list .business:nth-child(odd) {
    background-color: var(--text-color3);
}

.list section {
    display: grid;
    font-size: 0.8rem;
    height: auto;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.list h2 {
    font-family: var(--headings-text);
    font-size: 1rem;
    margin-right: 5px;
    align-self: center;
    padding: 5px;
}

.list section span {
    font-weight: 500;
}

.list address {
    padding: 5px;
}


/* ****************** footer styling ************ */

footer {
    display: grid;
    place-items: center;
    padding-top: 20px;
    border-top: 3px solid var(--background-color1);
    margin-top: 30px;
    gap: 20px;
    background-color: var(--background-color1);
    color: var(--text-color2);
}

.icons {
    transform: scale(3);
    padding: 20px;
    padding-bottom: 15px;
}

.demographics {
    text-align: center;
}

.demographics p {
    padding-bottom: 5px;
    transform: scale(1.1);
}

.demographics address a {
    color: var(--text-color2);
}

.footer-text {
    text-align: center;
    padding-bottom: 10px;
}

/* ************** Home Page Styling *************** */

.hero-container {
    position: relative;
}

.hero-container div {
    position: absolute;
    bottom: 35px;
    right: 10px;
}

.btn-learn {
    background-color: var(--background-color2);
    opacity: 0.9;
    display: block;   
    text-align: center; 
    padding: 10px;
    text-decoration: none;
    color: var(--text-color2);
    font-weight: 500;
    font-family: var(--headings-text);
    font-size: 0.9rem;
    border: 3px solid var(--background-color1);
}

.btn-learn:hover {
    background-color: var(--text-color3);
    color: var(--text-color1);
}


.events {
    border: 3px solid var(--text-color1);
    padding: 0;
    background-color: var(--text-color3);
    border-radius: 8px;
    width: 93%;
    margin: 0 auto;
}

.events img {
    width: 90%;
    height: auto;
    display: grid;
    place-self: center;
    border: 3px solid var(--background-color1);
    margin: 8px;
}

.events h2 {
    text-align: center;
    background-color: var(--background-color1);
    color: var(--text-color2);
    padding: 8px;
    border-radius: 5px 5px 0px 0px;
} 

/* ******* weather section styling  *********** */

.current-weather {
    border: 3px solid var(--text-color1);
    padding: 0;
    background-color: var(--text-color3);
    border-radius: 8px;
    width: 93%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.current-weather h2 {
    font-family: var(--headings-text);
    text-align: center;
    background-color: var(--background-color1);
    color: var(--text-color2);
    padding: 8px;
    border-radius: 5px 5px 0px 0px;
}

.current-weather p {
    text-align: center;
    text-transform: capitalize;
    line-height: 1.2;
    padding: 8px;
    padding-top: 0;
}

.current-weather img {
    width: 100px;
    height: auto;
    align-self: center;
}

.current-weather p span {
    font-weight: 500;
}

/* forecast section */

.forecast {
    border: 3px solid var(--text-color1);
    padding: 0;
    background-color: var(--text-color3);
    border-radius: 8px;
    width: 93%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.forecast h2 {
    font-family: var(--headings-text);
    text-align: center;
    background-color: var(--background-color1);
    color: var(--text-color2);
    padding: 8px;
    border-radius: 5px 5px 0px 0px;
}

.forecast p {
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.8;
    padding: 8px;
}

.forecast p span {
    font-weight: 500;
}

/* home business section styling */

.business p span {
    text-transform: capitalize;
}

.home p {
    width: 100%;
    background-color: var(--background-color2);
}

.home p span {
    font-weight: 500;
    font-size: 1.2rem;
    background-color: var(--background-color2);
    color: var(--text-color2);
    }

/* ********** join form page styling ********* */

/* form styling */

.application fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 10px;
    border: 3px solid var(--text-color3);
}

.application label {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-weight: 500;
}

.application input, .application select {
    min-height: 44px;
}

.application legend {
    font-family: var(--headings-text);
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: 900;
}

.application input[required], .application select[required] {
    border-left: 8px solid var(--background-color2);
}

input:required:valid, select:required:valid {border-left-color: green;}

.application input[placeholder] {
    padding-left: 5px;
}


.application textarea {
    height: 80px;
}

.application .form-button {
    height: 44px;
    font-family: var(--headings-text);
    font-weight: 800;
    font-size: 1.2rem;
    background-color: var(--background-color2);
    color: var(--text-color2);
    box-shadow: 5px 5px 5px #3A3335;
}

.form-button:hover {
    background-color: var(--text-color3);
    color: var(--background-color1);
}

/* membership card styling  */
.membership-levels {
    margin: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.membership-levels h2 {
    text-align: center;
    padding: 10px;
    background-color: var(--text-color3);
    width: 100%;
    border: 3px solid var(--text-color1);
}

.membership-levels section {
    display: grid;
    padding: 20px;
    border: 3px solid;
    place-items: center;
    border-radius: 15px 0px;
    gap: 10px;
    background-color: var(--text-color3);
    animation-name: myAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.membership-levels section a {
    height: 44px;
    width: 50%;
    background-color: var(--background-color2);
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-color2);
    text-decoration: none;
}

/* dialog box for memberships styling */

.memberships {
    position: fixed;
    top: 5px;
    left: 15px;
    margin: 10px;
    padding: 10px;
}

.memberships span {
    font-weight: 500;
}

.memberships .annual-cost {
    color: green;
}

.memberships p, .memberships ul, .memberships h3 {
    margin: 8px;
    list-style: none;
}

.memberships ul li {
    padding-top: 5px;
}

.memberships #close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    height: 44px;
    width: 44px;
    font-size: 1.2rem;
    background-color: var(--text-color3);
}

/* ****** thank you page styling ******** */

.submission-details {
    text-align: center;
    line-height: 1.5;
    font-size: 1.2rem;
}

.thank-you {
    text-align: center;
    padding: 10px;
}

.submission-details span {
    font-weight: 500;
}

.submission-details .information {
    color: var(--background-color2);
}

/* cards animation */

@keyframes myAnimation {
    from {opacity: 0;;}
    to {opacity: 1;;}
}