@media only screen and (min-width: 38rem) {

    body {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 48px auto;
        justify-content: start;
    }

    /* navigation button */
    #ham-btn {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        flex-wrap: nowrap;
    }
}